@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Alexandria", sans-serif;
  text-rendering: optimizeLegibility;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
/* main {
  height: 100%;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* parent element from components */
  section {
    @apply bg-bgContainer dark:bg-bgContainerDark;
    @apply text-dark dark:text-light;
    @apply drop-shadow-lg;
    @apply border border-slate-200 dark:border-slate-700;
    /* @apply px-4 py-2 md:px-6 lg:px-8 rounded-xl ; */
    @apply py-2 lg:py-4 px-3 lg:px-6 rounded-xl;
    @apply mb-3 md:mb-4 lg:mb-5;
    @apply mx-4;
    @apply gap-4;
    @apply block;
  }
  footer {
    @apply p-4 bg-bgDark dark:bg-slate-300 sm:p-6;
    @apply border-t border-t-slate-50 dark:border-t-slate-800;
  }

  nav div ul li {
    @apply text-dark dark:text-light text-center text-base xl:text-lg 2xl:text-xl font-light px-2 py-2 hover:underline;
  }

  footer div ul li,
  footer div span {
    @apply text-light dark:text-dark text-base xl:text-lg font-medium px-2 py-1;
  }
  footer #link {
    @apply text-light dark:text-dark hover:text-slate-300 dark:hover:text-slate-700 hover:underline;
  }
  nav {
    @apply drop-shadow-sm bg-bgContainer dark:bg-bgContainerDark z-10 lg:z-0;
    @apply w-full px-4 py-2;
    @apply sticky lg:relative inset-x-0 top-0;
    @apply border-b border-b-borderLight dark:border-b-borderDark;
    @apply text-dark dark:text-light;
  }
  nav #dark {
    @apply text-dark dark:text-light text-base lg:text-lg xl:text-xl px-2 py-2 md:border-2 md:rounded-full md:border-dark md:dark:border-light;
  }
  /* Need to apply rounded-xl whenever I get dynamic images 
  #newsBanner {
    @apply rounded-none bg-transparent;
  } */
  textarea {
    @apply bg-transparent dark:bg-transparent;
    @apply placeholder-slate-400;
    @apply border-0;
    @apply block mx-auto w-full text-sm font-light rounded-xl p-4;
    @apply outline outline-2 outline-offset-8 outline-borderLight dark:outline-borderDark;
  }
  input {
    @apply bg-transparent dark:bg-transparent;
    @apply placeholder-slate-500;
    @apply border-b-2 border-b-borderLight dark:border-b-borderDark;
    @apply focus:outline-none;
    @apply block mx-auto w-full text-sm font-light p-4;
  }
  label {
    @apply block bg-transparent text-lg md:text-xl lg:text-2xl xl:text-3xl font-normal py-2 px-4 mb-4 text-dark dark:text-light;
  }

  button {
    @apply px-5 py-2.5 mr-2 mb-2 font-light text-lg rounded-xl;
    @apply bg-transparent dark:bg-transparent;
    @apply border border-borderLight dark:border-borderDark;
  }
  form#admin {
    @apply lg:grid lg:grid-flow-row-dense pb-5 lg:pb-10;
  }

  form#searchBar {
    @apply text-dark dark:text-light text-center text-base md:text-lg lg:text-xl font-light px-2 py-2 grid grid-flow-col-dense;
  }
  /* smooth animations */
  *,
  html {
    @apply lg:transition-transform lg:duration-150;
  }

  /* nav logo */
  nav #navLogo {
    @apply w-full px-4 py-2 text-2xl lg:text-2xl xl:text-3xl tracking-widest text-dark dark:text-light font-black italic font-serif justify-center items-center justify-items-center;
  }
  nav #burger {
    @apply text-2xl lg:text-2xl xl:text-3xl text-dark dark:text-light;
  }

  div#latestNewsGrid {
    @apply grid grid-cols-1 lg:grid-cols-3 gap-4 mx-auto;
    @apply text-dark dark:text-light;
    @apply drop-shadow-md;
  }
  div#latestNewsCard {
    @apply border border-slate-200 dark:border-slate-700;
  }
  /* Overlay when opening burger */
  main.mobileOverlay {
    @apply h-full w-0 fixed z-10 left-0 top-0 overflow-x-hidden transition-all duration-75;
  }

  main .mobileOverlayContent {
    @apply relative top-1/4 w-full text-start mt-8;
  }

  main .mobileOverlayContent ul li {
    @apply p-2 text-lg text-dark dark:text-light;
    text-decoration: none;
  }

  main #mobileOverlayContent .closeBurger {
    @apply absolute top-5 left-11 text-lg md:text-xl lg:text-2xl;
  }
}
